h1 {
	text-align: center;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 60px;
}

#myphoto {
	text-align: center;
}

.link {
	font-family: "Open Sans", sans-serif;
	text-align: center;
}

#bio {
	font-family: "Open Sans", sans-serif;
	font-size: 20px;
	text-align: center;
	padding-left: 20%;
	padding-right: 20%;
}